# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Merge Dev to Main
on:
  push:
  branches:
    - dev
jobs:
  merge:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Merge dev into main
  run: |
    git config --local user.name "GitHub Action"
    git config --local user.email "action@github.com"
    git checkout main
    git merge dev
    git push origin main
